.header {
  position: relative;
  padding: 78px 0 38px 0;
  background-image: linear-gradient(
      to top,
      rgba(13, 13, 13, 0),
      rgba(14, 14, 14, 0.8)
    ),
    linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
    url(./../images/header/header-bcg-mobile.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to top,
        rgba(13, 13, 13, 0),
        rgba(14, 14, 14, 0.8)
      ),
      linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(./../images/header/header-bcg-mobile@2x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: linear-gradient(
        to top,
        rgba(13, 13, 13, 0),
        rgba(14, 14, 14, 0.8)
      ),
      linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(./../images/header/header-bcg-mobile@3x.jpg);
  }

  @include breakpoint(tablet) {
    padding: 40px 0 153px 0;
    background-image: linear-gradient(
        to top,
        rgba(13, 13, 13, 0),
        rgba(14, 14, 14, 0.8)
      ),
      linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(./../images/header/header-bcg-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to top,
          rgba(13, 13, 13, 0),
          rgba(14, 14, 14, 0.8)
        ),
        linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(./../images/header/header-bcg-tablet@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to top,
          rgba(13, 13, 13, 0),
          rgba(14, 14, 14, 0.8)
        ),
        linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(./../images/header/header-bcg-tablet@3x.jpg);
    }
  }

  @include breakpoint(desktop) {
    padding: 40px 0 183px 0;
    background-position: center top;
    background-image: linear-gradient(
        to top,
        rgba(13, 13, 13, 0),
        rgba(14, 14, 14, 0.8)
      ),
      linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(./../images/header/header-bcg-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to top,
          rgba(13, 13, 13, 0),
          rgba(14, 14, 14, 0.8)
        ),
        linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(./../images/header/header-bcg-desktop@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient(
          to top,
          rgba(13, 13, 13, 0),
          rgba(14, 14, 14, 0.8)
        ),
        linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
        url(./../images/header/header-bcg-desktop@3x.jpg);
    }
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 107px;
  height: 90px;
  background-image: url(./../images/header/logo-bcg-mobile.png);
  background-size: cover;

  @include breakpoint(tablet) {
    width: 180px;
    height: 151px;
    background-image: url(./../images/header/logo-bcg-tablet.png);
  }

  @include breakpoint(desktop) {
    width: 239px;
    height: 201px;
    background-image: url(./../images/header/logo-bcg-desktop.png);
  }
}

.header__logo-icon {
  width: 60px;
  height: 30px;
  margin-top: 23px;
  margin-left: 25px;

  @include breakpoint(tablet) {
    width: 100px;
    height: 50px;
    margin-top: 40px;
    margin-left: 40px;
  }

  @include breakpoint(desktop) {
    width: 136px;
    height: 68px;
  }
}

.header__heading {
  position: relative;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: $accent;
  animation: appearFromTop 2500ms;

  @keyframes appearFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @include breakpoint(tablet) {
    max-width: 75%;
    font-size: 30px;
  }

  @include breakpoint(desktop) {
    font-size: 50px;
  }
}

.header__search-form {
  display: flex;
}
