.wrap {
  margin: 0 auto;
  position: relative;

  @include breakpoint(mobile) {
    width: 210px; //-40*2
    // padding: 0 10px;
  }
  @include breakpoint(tablet) {
    width: 542px;
    // padding: 0 14px;
  }

  @include breakpoint(desktop) {
    width: 878px;
    // padding: 0 14px;
  }
}

.glide__slide {
  line-height: 100%;
  margin: 0;
}

.slider-item__img {
  border-radius: 5px;
}

.glide__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: $grey;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all $timing-function;

  &.back {
    left: -38px;
  }

  &.forward {
    right: -38px;
  }

  &:hover,
  &:focus {
    border-color: $accent;
    box-shadow: 0px 0px 10px 3px $accent;
  }
}

.glide__btn-icon {
  fill: $grey;
  transition: fill $timing-function;

  .glide__btn:hover &,
  .glide__btn:focus & {
    fill: $accent;
  }
}
