{{#each this}}
<li class="glide__slide">
  <a href={{url}} target="_blank" rel="noopener noreferrer nofollow" aria-label={{name}}>
    <div class="slider-item__thumbe">
      <img class="slider-item__img" src={{posterUrl}} alt="event" height="auto">
    </div>
  </a>
</li>
{{/each}}